<form [formGroup]="formularioContacto" (ngSubmit)="submit()">

  <p>Nombre:
    <input type="text" placeholder="d" formControlName="title">
  </p>
  <p>des:
    <input type="text" required placeholder="d" formControlName="description">
  </p>
  <p>st:
    <input type="number" required placeholder="d" formControlName="stock">
  </p>
  <p>cat:
    <input type="text" required placeholder="d" formControlName="category">
  </p>
  <p>pric
    <input type="number" placeholder="d"  formControlName="price">
  </p>
  <button type="submit">Confirmar</button>
</form>